{% extends 'base.html' %}
{% block title %}Choose form template{% endblock %}
{% block content %}
    <h1>
        <label for="choose_form_template">Choose form template</label>
    </h1>
    <div class="row col-md-6">
        <select id="choose_form_template"
                class="form-control"
                onchange='window.location.href = "{% url 'create_custom_form_with_template' '99999' %}".replace("99999", $(this).val())'>
            <option value="" selected disabled>Select a template to continue</option>
            {% for form_template in form_templates %}
                <option value="{{ form_template.id }}">{{ form_template.name }}</option>
            {% endfor %}
        </select>
    </div>
    <script>
        window.addEventListener("pageshow", function ()
        {
            $("#choose_form_template").val("");
        });
    </script>
{% endblock %}
