{% extends 'NEMO_custom_forms/custom_forms_base.html' %}
{% load custom_tags_and_filters %}
{% load custom_form_tags %}
{% block add_button %}
    {% if form_templates and user_can_add %}
        {% if selected_template %}
            {% url 'create_custom_form_with_template' selected_template.id as create_custom_form_url %}
        {% else %}
            {% url 'create_custom_form' as create_custom_form_url %}
        {% endif %}
        {% button type="add" value="Add" url=create_custom_form_url %}
    {% endif %}
{% endblock %}
{% block before_pagination %}
    {{ block.super }}
    {% if user_can_view_all %}{# Filters go here #}{% endif %}
{% endblock %}
{% block pagination_content %}
    <table class="table table-bordered table-condensed table-align-middle table-hover thead-light"
           style="margin-bottom: 0">
        <thead>
            <tr>
                {% for column in template_columns.values %}
                    {% if column in default_columns %}
                        <th>{% include 'pagination/pagination_column.html' with order_by=column.0 name=column.1 %}</th>
                    {% else %}
                        <th>
                            {% if column.1 %}
                                {{ column.1 }}
                            {% else %}
                                {{ column.0 }}
                            {% endif %}
                        </th>
                    {% endif %}
                {% endfor %}
                <th class="text-right button-column-minimum">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for custom_form in page %}
                {% with status_denied=2 status_approved=1 status_closed=3 %}
                    <tr class="{% if custom_form.status == status_denied %}danger{% elif custom_form.status == status_approved %}{% elif custom_form.status == status_closed %}success{% endif %}">
                        {% for column in template_columns.values %}
                            {% if column.0 == "form_number" %}
                                <td>{{ custom_form.form_number|default_if_none:"" }}</td>
                            {% elif column.0 == "creation_time" %}
                                <td>{{ custom_form.creation_time|date:"SHORT_DATETIME_FORMAT" }}</td>
                            {% elif column.0 == "creator" %}
                                <td>{{ custom_form.creator }}</td>
                            {% elif column.0 == "status" %}
                                <td>{{ custom_form.html_progress_bar }}</td>
                            {% else %}
                                <td>{{ custom_form.get_template_data_input|get_item:column.0|default_if_none:"" }}</td>
                            {% endif %}
                        {% endfor %}
                        <td class="text-center text-nowrap">
                            {% url 'render_custom_form_pdf' custom_form.id as render_custom_form_pdf_url %}
                            {% button size="small" type="export" value="Generate pdf" url=render_custom_form_pdf_url %}
                            {% if custom_form.notes %}
                                {% button icon="glyphicon-info-sign" type="warn" size="small" value="Notes" title=custom_form.notes|default_if_none:""|linebreaksbr data_toggle="tooltip-notes" %}
                            {% endif %}
                            {% if custom_form.customformdocuments_set.all %}
                                <form method="post" style="display: inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="title" value="{{ custom_form.name }} documents">
                                    {% for document in custom_form.customformdocuments_set.all %}
                                        {% with content_type=document|content_type %}
                                            <input type="hidden" name="document_info" value="{{ content_type.id }}__{{ document.id }}">
                                        {% endwith %}
                                    {% endfor %}
                                    {% button icon="glyphicon-list-alt" size="small" type="export" value="Docs" onclick="document_view(this.form);" %}
                                </form>
                            {% endif %}
                            {% url "edit_custom_form" custom_form.id as edit_custom_form_url %}
                            {% if custom_form|can_edit_custom_form:user and not custom_form|can_take_next_action_for_custom_form:user %}
                                {% button size="small" type="edit" value="Edit" url=edit_custom_form_url %}
                            {% elif user_can_add %}
                                {% button size="small" type="view" value="View" url=edit_custom_form_url %}
                            {% endif %}
                            {% if custom_form.next_action %}
                                {% if custom_form|can_take_next_action_for_custom_form:user %}
                                    {% if custom_form.next_action.self_action_allowed or user != custom_form.creator %}
                                        {% url 'custom_form_action' custom_form.id as custom_form_action_url %}
                                        {% button size="small" type="info" value=custom_form.next_action.label url=custom_form_action_url %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block table_empty_content %}
    You do not have any {{ title }}
    {% if not form_templates %}<br>{% endif %}
{% endblock %}
